* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #1C1C1E;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}
.container{
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
header{
    text-align: center;
    padding: 10px;
    border-bottom:solid ;
}
.card{display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #E67E22;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    padding: 5px;
    margin-top: 10px;
   transition: transform 0.9s ease;
    cursor: pointer;
    
}

.card:hover{
    transform: translateY(-20px);
    
}
img {
    width: 100px;
    height: 100px;
    border-radius: 90px;
    justify-content: flex-start;
    align-items: center;
}
button{
    border-radius: 10px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: 20px;
    transition: 0.8s;
}
button:hover{
    transform:scale(0.9);
    background-color: aqua;
}
 #card-1{background-color:#261a2e ;}
 #card-2{background-color:#a040ff ;}
 #card-3{background-color:#2a6171 ;}
 #card-4{background-color: ;}