body{
    margin:0;
    background:#0a0022;
    font-family:Arial, sans-serif;
    color:#ffffff;
    max-width: 70%;
    margin: 0 auto;
}

.topo-main{
    height: 80px;
width: 80%;
    padding:30px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logozin{
    display:flex;
    align-items:center;
    gap:10px;
}
.banner{
    width: 500px;
    height: 500px;
}
.tri{
    width:22px;
    height:22px;
    background:linear-gradient(135deg,#ac6fff,#c7a7ff);
    clip-path:polygon(0 0, 100% 0, 0 100%);
}

.navv a{
    margin:0 25px;
    font-size:16px;
    color:white;
    text-decoration:none;
}

.signn{
    background:white;
    padding:10px 25px;
    border-radius:30px;
    border:none;
    cursor:pointer;
    font-size:15px;
}

.blocao{
    margin:40px auto;
    width:88%;
    background:linear-gradient(135deg,#3f1b6b,#1a0834);
    border-radius:30px;
    padding:70px 60px;
    display:flex;
    justify-content:space-between;
    height: 500px;
}

.texto-box{
    width:50%;
    max-width: 420px;
}

.hashtag{
    background:#bba7ff;
    padding:7px 22px;
    border-radius:18px;
    font-size:13px;
}

.titlee{
    margin-top:25px;
    font-size:40px;
    line-height:1.3;
}

.ppp{
    margin-top:20px;
    font-size:16px;
    width:92%;
}

.btnstart{
    margin-top:35px;
    background:white;
    color:black;
    border:none;
    padding:15px 32px;
    border-radius:40px;
    font-size:16px;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:10px;
}

.arrowbtn{
    background:black;
    color:white;
    padding:4px 10px;
    border-radius:50%;
    display:inline-block;
    font-size:15px;
}

.foto-box img{
    width:410px;
    border-radius:45px;
    margin-right:15px;
    object-fit:cover;
}
