/* fundo geral */
.bg{
    background-color:#a6eaff;
    font-family: Arial;
    margin: 0;
    padding: 0;
}


/* ====== HEADER ====== */
.topmenu{
    background:#ff4300;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height:60px;
}

.topmenu nav a{
    color:white;
    text-decoration:none;
    margin-right:18px;
    font-size:15px;
}

.topmenu nav a:hover{
    text-decoration: underline;
}

.logo img{
    height:40px;
}

.logon a{
    color:white;
    margin-left:15px;
    text-decoration:none;
    font-weight:bold;
}


/* ====== LAYOUT PRINCIPAL ====== */
.content{
    display:flex;
    justify-content:center;
    margin: 30px 40px;
    gap: 30px; /* separação entre colunas */
}


/* ====== COLUNA ESQUERDA (produtos) ====== */
.produtos{
    width: 70%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px; 
}

/* CARD DE PRODUTO */
.card{
    background:white;
    padding:14px;
    border-radius:4px;
    border:1px solid #e6e6e6;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:3px;
}

.card h3{
    font-size:18px;
    margin:10px 0 5px 0;
}

.card p{
    font-size:14px;
    color:#555;
    margin-bottom:10px;
}

.ver{
    background:red;
    color:white;
    padding:7px 12px;
    border:0;
    border-radius:3px;
    cursor:pointer;
    font-size:14px;
}


/* ====== COLUNA DIREITA (aside) ====== */
.asidebox{
    width: 30%;
}


/* ====== TUTORIAIS ====== */
.tutorials{
    background:white;
    padding:12px;
    border-radius:4px;
    margin-bottom:25px;
}

.tutorials h3{
    margin-top:0;
    font-size:18px;
}

.tutorials ul{
    list-style:none;
    padding-left:0;
}

.tutorials li{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 0;
    border-bottom:1px solid #ddd;
    font-size:14px;
}

.tutorials li img{
    width:65px;
    height:65px;
    object-fit:cover;
    border-radius:5px;
}


/* ====== PUBLICIDADE ====== */
.publi{
    background:white;
    padding:12px;
    border-radius:4px;
}

.publi h3{
    margin-top:0;
    font-size:18px;
}

.publi img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:5px;
    margin-bottom:10px;
}




.topmenu nav a{
    font-weight:bold; 
}

button{
    border:0; 
}

.produtos{
    gap:22px;
}

