/*reset padrão*/

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;


}

body {

    border-right: solid, black;
    background-size: cover;
    display: flex;


}

.conteiner {}

.titulo {
    background-color: gray;
    text-align: center;
    color: antiquewhite
}

.jornada {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
    color: blue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.conteudo {
    color: aqua;
    font-family: cursive
}

.nave {
    width: 15%;
    background-color: red;
    border: solid white;
    padding: 5px;


}

.meio {
    display: flex;
    height: 100%;
}


.home {
    height: 6%;
    background-color: black;
    color: white;
    height: auto;
    overflow-y: auto;
    border: solid blue;
    padding: 10px;

}

.historia {
    margin: 10px;

}

a {
    color: rgb(186, 200, 203);
}

a:hover {
    text-decoration: underline;
    color: black;
}

img {


    margin: 10px 0;
}

#rodape {

    height: 10%;
    text-align: center;
    padding: 10px;



}