* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #1C1C1E;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        

    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #34495E;
        width: 100%;
        height: 100px;
        color: #F9FAFB;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        border: solid black;
        border-radius: 10px;
        background-color: #F9FAFB;
        gap: 1px;
        width: 500px;
        height: 770px;
        padding: 5px;
        text-align: center;
        transition: 0.5s;
    }

    .card:hover {
        transform: translateY(-30px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    button {
        background-color: #007BFF;
        color: #F9FAFB;
        border-radius: 6px;
        box-shadow: 1.5px gray;
        cursor: pointer;
        padding: 8px;
        transition: 0.3s ease;
        display: block;
    }

    button:hover {
        background-color: #4169E1;
        transform: scale(1.2,1.2);
    }